<div id="<%= dom_id patient %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= patient.birth_date %>
  </p>

  <p>
    <%= link_to "Show this patient", patient %>
  </p>
</div>
